@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Song Myung", serif;
  background: whitesmoke;
  text-align: center;
}

h1 {
  padding: 40px;
  font-size: 4vw;
  letter-spacing: 3px;
  text-decoration: underline;
}

.loader {
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* .loader img { */
  /* position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  */
/* } */

.img-container img {
  width: 60%;
}

@media screen and (max-width: 600px) {
  h1 {
    padding: 8px;
    margin: 6% 0;
    font-size: 6vw;
    letter-spacing: 2px;
    text-decoration: underline;
  }
  .img-container img {
    width: 93%;
  }
}
