@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
}
header {
  background-color: #212121;
  color: wheat;
  display: flex;
  height: 40vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
}
.subtitle{
  padding-left: 20%;

}
