* {
  padding: 0;
  margin: 0;
}

.container {
  background-color: red;
  height: 350px;
  margin: 10px;
}

body {
  background-color: aqua;
}

@media screen and (max-width: 800px) {
  .container {
    background-color: yellowgreen;
    height: 350px;
    margin: 10px;
  }

  body {
    background-color: violet;
  }
}
