.box-circle {
  width: 200px;
  height: 200px;
  background-color: red;
  transition: width 2s, height 2s, border-radius 1.5s, background-color 2s;
}

.box-circle:hover {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  background-color: green;
}
a {
    animation: bouncing 0.5s ease 0s infinite alternate both;
  background: darkblue;
  border-radius: 50%;
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.2em;
  padding: 1em 2em 1.1em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  margin-top: 500px;
}

@keyframes bouncing {
    0%{
        bottom:0;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.501);
    }
    100%{
        bottom: 150px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.112);
    }
}
