.box {
    border: 9px black solid;
    margin: 1%;
    padding: 1%;
}

.title {
    border: 3px dotted red;
}

.para {
    width: 504px;
    height: 280px;
    border: 9px double blue;
    border-radius: 3%;
    background-color: antiquewhite;
    padding: 1%;

}

*{
    margin: 0%;
    padding: 0%;
}