* {
  padding: 0;
  margin: 0;
}

header {
  height: 14vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 1;
}

header li {
  color: wheat;
  display: inline-block;
}

.container {
  background-color: aqua;
  width: 50vw;
  height: 1000px;
  margin: auto;
  padding: 0px 40px;
}

.container p {
  text-align: center;
  border: 2px solid red;
}

.box {
  width: 200px;
  height: 200px;
  background-color: yellow;

  position: relative;
  top: 20px;
}
.box1 {
  width: 200px;
  height: 200px;
  background-color: beige;

  position: static;
}
.box2 {
  display: inline-block;
  background-color: brown;
  position: relative;
  top: -59px;
  left: 771px;
  right: 0px;
}
.box3 {
  width: 200px;
  height: 200px;
  background-color: rgb(98, 0, 255);

  position: absolute;
  top: 0;
  left: 0;
}
.box4 {
  width: 200px;
  height: 200px;
  background-color: rgb(72, 255, 0);

  position: fixed;
  bottom: 0;
  right: 0;
}
.box5 {
  width: 200px;
  /* height: 200px; */
  background-color: rgb(47, 0, 255);
  display: inline;
  top: 0;
  /* left: 1414px; */
  position: sticky;
  float: right;
}

.list {
  margin: 60px;
  padding: 10px;
  list-style:square inside ;
  background-color: burlywood;
}
