* {
  margin: 0%;
  padding: 0%;
}

.navbar {
  background-color: black;
  color: wheat;
  height: 100px;
  padding-top: 50px;
  text-align: center;
  font-size: 39px;
}

.left {
  background-color: red;
  color: white;

  height: 200px;
  width: 50%;
  display: inline-block;
}
.right {
  background-color: blue;

  color: white;
  height: 200px;
  display: inline-block;
  width: 50%;
}

.navi a {
  background-color: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  border: 2px solid wheat;
  border-radius: 20px;
}
.navi li {
    display: inline-block;
}

.navi {
    padding: 10px;
    background-color: blueviolet;
}

footer
{
    background-color: black;
    color: wheat;
    padding: 30px;
    text-align: center;
}
.f{
    border: 2px double red;
    padding: 5px;
    display: inline-block;
}