* {
  padding: 0%;
  margin: 0%;
}

.box {
  background-color: red;
  color: antiquewhite;
  height: 100px;
  width: 700px;

  text-align: center;
  /* text-transform: capitalize; */
  /* text-transform: uppercase; */

  /* text-decoration:underline; */
  /* text-decoration: line-through; */
  /* text-decoration: overline; */
  /* text-decoration: wavy; */
}

.para {
  /* line-height: 250%; */
  margin: 20px;
  border: 7px solid black;
  padding: 10px;

    font-size: 30px;
    /* font-weight: 900; */
    font-style: italic;

    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

}
