/*
div {
  height: 200px;
  width: 200px;
}

.Red {
  background-color: red;
  position: relative;
   left: 500px; 
   right: 200px; 
   top: 50px; 

  left: 400px;
}

.Blue {
  background-color: blue;
  position: relative;
  bottom: 200px;
}

.Yellow {
  background-color: yellow;
  position: relative;
  left: 200px;
  bottom: 400px;
}

*/
div {
  height: 200px;
  width: 200px;
}

.Red {
  background-color: red;
  position: relative;
  display: inline-block;
  left: 400px;
 
}

.Blue {
  background-color: blue;
  position: relative;
  display: inline-block;
  right: 200px;
}

.Yellow {
    background-color: yellow;
    display: inline-block;
    position: relative;
    right: 200px;
}
