* {
  margin: 0;
}
div {
  height: 200px;
  width: 200px;
}

.Red {
  background-color: red;
  position: absolute;
  left: 400px;
  top: 400px;
}

.Blue {
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 200px;
}

.Yellow {
  background-color: yellow;
  position: absolute;
}
