* {
  margin: 0;
}
div {
  height: 200px;
  width: 200px;
}

.Red {
  background-color: red;
  position: absolute;
  left: 400px;
  /* right: 20px; */
  top: 400px;
}

.Blue {
  background-color: blue;
  position: absolute;
  top: 200px;
  left: 200px;
}

.Yellow {
  background-color: yellow;
  position: fixed;
  top: 0;
}
.gray {
  height: 800px;
  width: 750px;
  background-color: gray;
  position: relative;
}
