* {
    padding: 0;
    margin: 0;
}

header {
  height: 80px;
  background-color: black;
  color: wheat;
}

header li {
  display: inline-block;
  padding: 10px;
}

.continer {
  display: flex;
  justify-content: space-between;
}

.box1 {
  height: 60vh;
  width: 35vw;
  background-color: red;
}
.box2 {
    height: 60vh;
  width: 35vw;
  background-color: aqua;
}
.img {
  display: inline-block;
  height: 70px;
}

.navbar {
  display: inline-block;
}
